label {
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.newSong {
    background-color: lightslategrey;
    padding-top: 5em;
    padding-bottom: 5em;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}